@charset "UTF-8";

#q47 {
    width:800px;
    background:#000;
    color:#FFF;
    display:block;
    margin:0 auto;
}

#q47 > div {
    display:inline-block;
    background:#F00;
    width:32%;
    height:200px;
    margin:10px auto;

}
#q47 ul {
    display: inline-block;
}

#q47 ul li {
    background:#00F;
    width:240px;
    height:100px;
    display: inline-block;
    margin:10px auto;
    list-style:none;
    margin:10px;
}
