@charset "UTF-8";

#menu{
  display: inline-block;
  text-align: center;
  font-size: 20px;
  background: #00ff7f;
}

#menu li{
  width: 200px;
  height: 80px;
  background-color: #ff1493;
  list-style: none;
}

li{
  display: inline-block;

}

/* #menu li{
  border-radius: 20px;
} */
